* {
    box-sizing: border-box;
}

html {
}

body {
    margin: 0;
    background-color: var(--body-color);
    font-family: poppins;
}

img {
    width: 100%;
}

a {
    color: inherit;
}

p {
}
button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

.blur {
    background-color: var(--body-color);
    opacity: 0.2;
}
