* {
    box-sizing: border-box;
}

html {
}

body {
    margin: 0;
    background-color: var(--body-color);
}

img {
    width: 100%;
}

a {
}

p {
}
button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}
