/* MAIN LAYOUT */

.main-layout {
    display: grid;
    grid-template-columns:
        minmax(10px, 1fr)
        minmax(auto, 12fr)
        minmax(10px, 1fr);
    gap: 15px;
}

.main-layout > .full {
    grid-column: 1 / -1;
}

.main-layout > *:not(.full) {
    grid-column: 2;
}

header {
    grid-column: 2;
}

main {
    grid-column: 2;
}

.none {
    display: none;
}
