.about-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--grad-color2);
    margin-block-end: 50px;
}

.about-container img {
    width: 70%;
    height: 70%;
    border-radius: 20px;
}

.social-links {
    margin-block-start: 20px;
}

.social-links > * {
    margin-inline: 10px;
}
