.editor-container {
    grid-column: 1 / -1;
    margin-inline: 20px;
    justify-items: center;
    justify-content: center;
    margin-block-end: 70px;
}

.editor-container > * {
    width: 100%;
    border-radius: 20px;
    background-color: var(--container-color);
}

.canvas-container {
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    margin-inline-end: 20px;
    overflow: hidden;
}

.meme-canvas {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    flex-basis: 500px;
    flex-grow: 0;
}

.control-box {
    display: flex;
    flex-direction: column;
    padding-block: 20px;
    flex-basis: 500px;
    flex-grow: 0;
    height: 430px;
}

.control-box > * {
    margin-block-end: 20px;
}

.input-line::placeholder {
    color: white;
}

.control-box .txt-actions {
    justify-content: center;
}

.control-box .txt-actions > * {
    width: 3.4375em;
    height: 3.4375em;
    border-radius: 10px;
    position: relative;
    margin-inline: 5px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55),
        inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.control-box .txt-actions button {
    border: 0;
    background-color: #ebeef3;
    position: relative;
}

.control-box .txt-actions button:hover {
    outline: 5px solid transparent;
    animation: outline-gradient 2s linear infinite;
}

.control-box .txt-actions button:nth-of-type(1) {
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(
        -38deg,
        #66c4dc 0%,
        #40b1ce 50%,
        #0c98bb 100%
    );
}

.control-box .txt-actions button:nth-of-type(2) {
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.control-box .txt-actions button:nth-of-type(3) {
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(
        -38deg,
        #cf1d37 0%,
        #cf1d37 1%,
        #f05036 100%
    );
}

.txt-actions i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5625em;
}

.txt-actions img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
}

.control-box .txt-manipulation {
    align-items: start;
    background-image: linear-gradient(
        -86deg,
        var(--grad-color2) 0%,
        var(--grad-color1) 100%
    );
    border-radius: 15px;
    padding-inline: 5px;
    padding-block: 10px;
    margin-inline: 10px;
    flex-wrap: wrap;
}

.control-box .txt-manipulation > *:not(.select-fonts) {
    border: 0;
    width: 3.4375em;
    height: 3.4375em;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55),
        inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    position: relative;
    margin-inline-end: 10px;
    margin-block-end: 10px;
}

.control-box .txt-manipulation > *:hover {
    outline: 5px solid transparent;
    animation: outline-gradient 2s linear infinite;
}

.txt-manipulation button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5625em;
}

.txt-manipulation button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
}

.select-fonts {
    flex-basis: auto;
    border: 0;
    height: 3.4375em;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55),
        inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    margin-inline-end: 25px;
}

.select-fonts option:nth-of-type(1) {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.select-fonts option:nth-of-type(2) {
    font-family: poppins;
}

.select-fonts option:nth-of-type(3) {
    font-family: righteous;
}

.select-fonts option:nth-of-type(4) {
    font-family: sigmar;
}

.control-box .input-line {
    border-radius: 20px;
    font-size: 1.5625em;
    text-align: center;
    margin-inline: 10px;
}

.control-box .stickers-container {
    grid-row: 4;
    grid-column: 1/-1;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 15px;
    margin-inline: 10px;
    background-color: white;
}

.control-box .stickers-container button {
    background-color: transparent;
    border: 0;
}

.stickers-container .stickers-list img {
    width: 40px;
    height: 40px;
    margin-inline: 15px;
}

.control-box .meme-actions {
    margin-inline: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
}

.meme-actions button {
    justify-content: center;
    align-items: center;
    border: 0;
    height: 50px;
    margin-inline-end: 10px;
    margin-block-end: 15px;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 700;
    flex: 1 1 1%;
}

.meme-actions button:last-of-type {
    margin-inline-end: 0;
}

.meme-actions button:nth-of-type(1) {
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #1e7cd3;
}

.meme-actions button:nth-of-type(2) {
    box-shadow: 1px 6px 0 #632687, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #8f44bb;
}

.meme-actions button:nth-of-type(3) {
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.meme-actions button:hover {
    outline: 5px solid transparent;
    animation: outline-gradient 2s linear infinite;
}
