.gallery-container {
    background-color: var(--container-color);
    padding: 10px;
    border-radius: 10px;
}

.imgs-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    margin-block-end: 10px;
}

.imgs-list .add-new-img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--search-bar-color);
    text-align: center;
    position: relative;
    min-height: 200px;
}

.add-new-img i {
    /* -webkit-text-stroke: 1px black; */
    background: -webkit-linear-gradient(
        0deg,
        var(--grad-color2) 0%,
        var(--grad-color1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.imgs-list .add-new-img:hover {
    outline: 5px solid transparent;
    outline-offset: -5px;
    animation: outline-color 4s linear infinite;
}

.add-new-img label {
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    cursor: pointer;
    font-size: 8em;
}

.imgs-list img {
    cursor: pointer;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}

.imgs-list img:hover {
    outline: 5px solid transparent;
    outline-offset: -5px;
    animation: outline-gradient 2s linear infinite;
}

.gallery-control-bar {
    margin-block-end: 10px;
    height: 60px;
    justify-content: space-between;
}

.gallery-control-bar form {
    height: 100%;
}

.gallery-control-bar .gallery-search {
    background-color: var(--search-bar-color);
    height: 100%;
    border: 0;
    border-radius: 30px;
    color: white;
    text-align: center;
    font-size: 1.5625em;
}

.gallery-control-bar .gallery-btn-flexible {
    background-image: linear-gradient(
        -86deg,
        var(--grad-color2) 0%,
        var(--grad-color1) 100%
    );
    height: 100%;
    border: 0;
    border-radius: 30px;
    color: white;
    text-align: center;
    font-size: 1.5625em;
}
