.gallery-container {
    background-color: var(--container-color);
    padding: 10px;
    border-radius: 10px;
    margin-block-end: 70px;
}

.imgs-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    margin-block-end: 10px;
}

.imgs-list .add-new-img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--search-bar-color);
    text-align: center;
    position: relative;
    min-height: 200px;
    cursor: pointer;
    position: relative;
}

.add-new-img i {
    background: -webkit-linear-gradient(
        0deg,
        var(--grad-color2) 0%,
        var(--grad-color1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.imgs-list .add-new-img:hover {
    outline: 5px solid transparent;
    outline-offset: -5px;
    animation: outline-color 4s linear infinite;
    z-index: 1;
    transform: scale(1.15);
    transition: all 0.25s ease-in-out;
}

.imgs-list .add-new-img:not(:hover) {
    animation: shrinkImg 0.25s ease-in-out;
}

.add-new-img label {
    cursor: pointer;
    font-size: 8em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgs-list img {
    cursor: pointer;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.749) inset; */
    filter: grayscale(65%);
}

.imgs-list img:hover {
    outline: 5px solid transparent;
    outline-offset: -5px;
    animation: outline-gradient 2s linear infinite;
    z-index: 1;
    transform: scale(1.15);
    transition: all 0.25s ease-in-out;
    box-shadow: none;
    filter: none;
}

.imgs-list img:not(:hover) {
    animation: shrinkImg 0.25s ease-in-out;
}

.gallery-control-bar {
    margin-block-end: 10px;
    height: 60px;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
}

.gallery-control-bar .gallery-search {
    flex-grow: 8;
    flex-shrink: 2;
    margin-inline-end: 5px;
}

.gallery-search .input-gallery-search {
    background-color: var(--search-bar-color);
    height: 100%;
    border: 0;
    border-radius: 30px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.5625em;
}

.gallery-control-bar form {
    height: 100%;
}

.gallery-control-bar .gallery-btn-flexible {
    background-image: linear-gradient(
        -86deg,
        var(--grad-color2) 0%,
        var(--grad-color1) 100%
    );
    height: 100%;
    border: 0;
    border-radius: 30px;
    color: white;
    text-align: center;
    font-size: 1.5625em;
    flex-grow: 1;
    flex-shrink: 1;
}

.gallery-keywords {
    background-color: var(--search-bar-color);
    margin-block-end: 20px;
    border-radius: 30px;
    align-items: center;
}

.gallery-keywords a {
    text-transform: capitalize;
    margin-inline-end: 10px;
    color: var(--grad-color2);
    text-decoration: none;
}

.gallery-keywords a:hover {
    color: var(--grad-color1);
    transition: all 0.25s ease-in-out;
}

.selected-keyword {
    color: var(--grad-color1) !important;
}

.gallery-keywords a:first-child {
    margin-inline-start: 20px;
}
