.gallery-container {
    background-color: var(--container-color);
    padding: 10px;
    border-radius: 10px;
}

.imgs-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    margin-block-end: 10px;
}

.imgs-list img {
    cursor: pointer;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.imgs-list img:hover {
    outline: 5px solid yellow;
    outline-offset: -5px;
}

.gallery-control-bar {
    margin-block-end: 10px;
    height: 60px;
    justify-content: space-between;
}

.gallery-control-bar .gallery-search {
    background-color: var(--search-bar-color);
    height: 100%;
    border: 0;
    border-radius: 30px;
    color: white;
    text-align: center;
    font-size: 1.5625em;
}

.gallery-control-bar .gallery-btn-flexible {
    background-image: linear-gradient(
        -86deg,
        var(--grad-color1) 0%,
        var(--grad-color2) 100%
    );
    height: 100%;
    border: 0;
    border-radius: 30px;
    color: white;
    text-align: center;
    font-size: 1.5625em;
}
