.memes-container {
    background-color: var(--container-color);
    padding: 10px;
    border-radius: 10px;
}
.memes-container .imgs-list {
    justify-items: start;
}

.memes-container img {
    max-width: 250px;
    max-height: 250px;
}

.meme-container {
    position: relative;
}

.meme-modal {
    display: flex;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.meme-container:hover .meme-modal {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: end;
    align-content: end;
}

.meme-modal button {
    margin-inline: 15px;
    margin-block-end: 25px;
    border: 0;

    font-size: 1.5em;
    font-weight: 700;
    width: 3.4375em;
    border-radius: 10px;
}

.meme-modal button:first-of-type {
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.meme-modal button:nth-of-type(2) {
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(
        -38deg,
        #cf1d37 0%,
        #cf1d37 1%,
        #f05036 100%
    );
}
