.memes-container {
    background-color: var(--container-color);
    padding: 10px;
    border-radius: 10px;
}
.memes-container .imgs-list {
    justify-items: start;
}

.memes-container img {
    max-width: 250px;
    max-height: 250px;
}
