@keyframes slideOutRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes outline-color {
    0% {
        outline-color: Violet;
    }
    14.28% {
        outline-color: Indigo;
    }
    28.56% {
        outline-color: Blue;
    }
    42.84% {
        outline-color: Green;
    }
    57.12% {
        outline-color: Yellow;
    }
    71.4% {
        outline-color: Orange;
    }
    85.68% {
        outline-color: Red;
    }
    100% {
        outline-color: Violet;
    }
}

@keyframes outline-gradient {
    0% {
        outline: 5px solid var(--grad-color1);
    }
    50% {
        outline: 5px solid var(--grad-color2);
    }
    100% {
        outline: 5px solid var(--grad-color1);
    }
}

.hide-right {
    animation: slideOutRight 700ms ease forwards;
    /* z-index: 1; */
}

.show-right {
    animation: slideInRight 700ms ease forwards;
    /* z-index: 0; */
}
