@media (max-width: 900px) {
    .stickers-container .stickers-list img {
        width: 35px;
        height: 35px;
        margin-inline: 10px;
    }
}

@media (max-width: 800px) {
    .editor-container {
        flex-direction: column;
    }

    .canvas-container {
        margin-block-end: 20px;
        margin-inline: 0;

        width: auto;
    }

    .control-box {
        max-height: 430px;
    }

    .main-header {
        padding-inline: 40px;
    }

    .main-header .main-nav {
        position: fixed;
        top: 20vh;
        right: 25vw;
        z-index: 1;
        padding-block: 20px;
        padding-inline: 20px;
        background-image: linear-gradient(
            -86deg,
            var(--grad-color1) 0%,
            var(--grad-color2) 100%
        );
        min-width: 30vw;
        transform: translateY(-200%);
        transition: transform 600ms ease-in-out;
        border-radius: 20px;
    }

    body.menu-open .main-nav {
        transform: translateY(0);
    }

    .main-header .main-menu {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
    }

    .main-nav .main-menu li {
        box-shadow: 0 0 0 0;
        margin-block: 20px;
        margin-inline: 20px;
        font-size: 1.5em;
        height: 1.5em;
        width: 100%;
    }

    .main-menu li:last-of-type {
        width: 200px;
        justify-self: center;
        justify-content: center;
        justify-items: center;
        font-size: 1rem;
    }

    .main-header .btn-toggle-menu {
        display: inline-block;
    }

    .stickers-container .stickers-list img {
        width: 40px;
        height: 40px;
        margin-inline: 10px;
    }
}

@media (max-width: 650px) {
    .main-nav .main-menu li {
        font-size: 1.4em;
        height: 1.4em;
    }

    .main-menu li:last-of-type {
        font-size: 1rem;
    }

    .editor-container {
        gap: 10px;
    }

    .control-box {
        max-height: 430px;
        height: 430px;
    }

    .canvas-container {
        grid-column: 2;
        grid-row: 1;
    }
}

@media (max-width: 500px) {
    .main-nav .main-menu li {
        font-size: 1.2em;
        height: 1.2em;
    }
    .main-menu li:last-of-type {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .main-header .main-nav {
        right: 15vw;
    }
    .control-box {
        max-height: 470px;
        height: 470px;
    }
}

@media (max-width: 345px) {
    .control-box {
        max-height: 540px;
        height: 540px;
    }
}

@media (max-width: 300px) {
    .gallery-keywords {
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
    }

    .gallery-keywords a {
        margin-inline-end: 5px;
    }

    .gallery-control-bar .gallery-btn-flexible {
        font-size: 1em;
    }

    .gallery-search .input-gallery-search {
        font-size: 1em;
    }

    .logo {
        font-size: 1.375rem;
    }

    .main-header .btn-toggle-menu {
        margin-inline: 10px 0;
        width: 50px;
    }

    .main-header .btn-toggle-menu i {
        font-size: 1rem;
    }
    .control-box {
        max-height: 650px;
        height: 650px;
    }
}

@media (min-width: 800px) {
    .about-container img {
        width: 50%;
    }
}

@media (min-width: 1400px) {
    .about-container img {
        width: 50%;
    }

    .canvas-container {
        max-width: 50%;
    }
}

@media (min-width: 2000px) {
    .canvas-container {
        max-width: 40%;
    }
}

@media (min-width: 2800px) {
    .canvas-container {
        max-width: 30%;
    }
}
