@media (max-width: 900px) {
    .stickers-container .stickers-list img {
        width: 35px;
        height: 35px;
        margin-inline: 10px;
    }
}

@media (max-width: 800px) {
    /* .editor-container {
        display: grid;
        grid-template-columns:
            20px
            minmax(auto, 1fr)
            20px;
    }

    .control-box {
        grid-column: 2;
    } */
    .editor-container {
        flex-direction: column;
    }

    .canvas-container {
        margin-block-end: 20px;
        margin-inline: 0;
        /* flex-basis: 50%; */
        width: auto;
    }

    .control-box {
        /* flex-basis: 50%; */
    }

    .main-header {
        padding-inline: 40px;
    }

    .main-header .main-nav {
        position: fixed;
        top: 20vh;
        right: 35vw;
        z-index: 1;
        padding-block: 20px;
        padding-inline: 20px;
        background-image: linear-gradient(
            -86deg,
            var(--grad-color1) 0%,
            var(--grad-color2) 100%
        );
        min-width: 30vw;
        transform: translateY(-200%);
        transition: transform 600ms ease-in-out;
        border-radius: 20px;
    }

    body.menu-open .main-nav {
        transform: translateY(0);
    }

    .main-header .main-menu {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
    }

    .main-nav .main-menu li {
        box-shadow: 0 0 0 0;
        margin-block: 20px;
        margin-inline: 20px;
        font-size: 1.75em;
        height: 1.75em;
        width: 100%;
    }

    .main-menu li:last-of-type {
        width: 200px;
        justify-self: center;
        justify-content: center;
        justify-items: center;
    }

    .main-header .btn-toggle-menu {
        display: inline-block;
    }

    .stickers-container .stickers-list img {
        width: 40px;
        height: 40px;
        margin-inline: 10px;
    }
}

@media (max-width: 650px) {
    .main-nav .main-menu li {
        font-size: 1.4em;
        height: 1.4em;
    }
}

@media (max-width: 500px) {
    .main-nav .main-menu li {
        font-size: 1.2em;
        height: 1.2em;
    }
}

@media (min-width: 800px) {
}
