@font-face {
    font-family: poppins;
    src: url(/fonts/poppins.ttf);
}

@font-face {
    font-family: righteous;
    src: url(/fonts/righteous.ttf);
}

@font-face {
    font-family: sigmar;
    src: url(/fonts/sigmar.ttf);
}
