:root {
    --grad-color1: #f9d030;
    --grad-color2: #f62aa0;
    --body-color: #22252c;
    --container-color: #383b42;
    --txt-manipulation-color: #19a59f;
    --search-bar-color: #22252c;
    --selected-color: #21ac91;
    --stickrs-backgroud: rgb(169, 169, 169);
}
